/*===========================
UNIVERSAL STYLES
==============================*/
* {
    box-sizing: border-box;
}

/*===========================
ELEMENT STYLES
==============================*/

body {
    display: block;
    text-align: center;
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: #fafafa;   
    padding-bottom: 10px;
}

img {
    max-width: 100%;
}

h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


p {
    line-height: 1.5;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    margin: 30px auto 50px;
}

h3 {
    margin-bottom: 0px;
    margin-top: 35px;
}

footer {
    background-color: #fafafa;
    padding-top: 30px;
}

hr {
    width: 90%;
    color: #ececec;
    opacity: 20%;
}

span {
    font-weight: bold;
}

/*===========================
CLASS STYLES
==============================*/

.about {
    background-color: #fafafa; 
}

.profile-img {
    display: block;
    margin: auto;
    width: 70%;
    padding-top: 50px;
}

.portfolio {
    background-color: #ffffff;
    padding: 20px;
}

.contact {
    margin-bottom: 10px;
}

.contact-text {
    margin-left: 15px;
    margin-right: 15px;

}

.email a {
    text-transform: lowercase;
    display: inline-block;
    background-color:  #fafafa;
    padding: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 20px;
}

.footer-footer {
    display: flex;
    justify-content: space-between;
}
.blurb {
    padding-right: 25px;
    padding-left: 25px;
}

.student-name,
.back-to-top {
    flex: 1;
}
.student-name {
    text-align: left;
    padding-left: 20px;
    margin: auto;
    font-size: 14px;
    margin-top: 35px;
}

.back-to-top a {
    font-size: 14px;
    margin: auto;
    padding: 0;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.email {
    padding: 0;
    padding-bottom: 20px;
}
.phone {
    padding: 0;
}
.footer-links {
    display: none;
}

.top-links a {
    text-decoration: none;
    display: block;
    margin: 7px 15px;
    padding: 15px;
    text-align: center;
    background-color: white;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
}

/*===========================
MEDIA QUERIES
==============================*/
@media (min-width: 768px) {
    h2 {
        font-size: 1em;
    }
    
    .back-to-top {
        display: none;
    }
    .footer-links {
        display: flex;
        padding: 20px;
    }

    .footer-links a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
    }
    li {
        margin: auto 20px;
    }

    .student-name {
        margin: auto;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
    }

    .top-links {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    .top-links a {
        background-color: #fafafa; 
    }
    .blurb {
        text-align: left;
        margin-left: 20px;
    } 
    .profile-img {
        width: 350px;
        float: right;
        padding: 30px;
        margin-right: 20px;
    }
    .about {
        height: 250px;
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .travel,
    .search,
    .marketing,
    .map,
    .photo,
    .calc {
        width: 350px;
    }

    .contact-text {
        width: 450px;
        margin: auto;
    }

    .description {
        width: 250px;
        margin: auto;
    }
 
}

@media (min-width: 1024px) {

    .travel,
    .search,
    .marketing,
    .map,
    .photo,
    .calc {
        width: 270px;
    }
    
}
